name: Check Markdown Links

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      continue-on-error: true
      with:

        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        config-file: '.github/link-check-config.json'
